
.box{
	width: calc(25% - 10px);	
	margin: 5px;
	height: 100px;
	float: left;
	text-align: justify;
	box-sizing: border-box;
	position: static;
	padding: 60px;
	display: inline-block;

}
.image{
	width: 200px;
	height: 200px;
}
.navbar{
	list-style-type: none;
}

ul.navbar{
	background-color: gray;
	height: 50px;

}

ul.navbar li {
	width: calc(25% - 10px);
	text-align: center;	
	height: 25px;
	display: inline-block;
	box-sizing: border-box;
	padding: 18px;
	display: inline-block;
	
}